.owl-theme .owl-controls{
	margin-top:20px;
	text-align:center;
	-webkit-tap-highlight-color:transparent;
}
.owl-prev, .owl-next{
	margin: 10px;
	width: 40px;
	height: 40px;
	background: #ffffff;
	display: inline-block;
	border: 2px solid #ffffff;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.owl-prev:hover, .owl-next:hover{
	background: transparent;
	color: #ffffff;
}
.owl-theme .owl-controls .owl-nav i{
	line-height: 38px;
}
.owl-theme .owl-controls .owl-nav .disabled{
	opacity:.5;
	cursor:default;
}
.owl-theme .owl-dots .owl-dot{
	display:inline-block;
	zoom:1;
	*display:inline;
}
.owl-theme .owl-dots .owl-dot span{
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #222222;
	display: block;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-backface-visibility: visible;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

 .owl-theme .owl-dots .owl-dot:hover span{
	background: transparent;
	border: 1px solid #222222;
}

.owl-theme .owl-dots .owl-dot.active span{
	background: transparent;
	border: 1px solid #222222;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);
}

.blog-cover-carousel .owl-controls{
	margin: 0;
}